body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 40px auto;
}

.deshheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-btn {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.card {
  background: rgb(244, 239, 239);
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.form input,
.form textarea,
.form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.form button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.task-list {
  margin-top: 20px;
}

.task-card {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

.status {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  margin-top: 8px;
  font-size: 12px;
}

.status.pending {
  background-color: #f39c12;
  color: white;
}

.status.completed {
  background-color: #2ecc71;
  color: white;
}

.actions {
  margin-top: 10px;
}

.actions button {
  margin-right: 8px;
  padding: 6px 10px;
  border: none;
  cursor: pointer;
}


/* Auth Pages */

.header {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f6f8;
}

.auth-card {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.auth-form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.auth-form button {
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}

.auth-form button:hover {
  background-color: #2980b9;
}

.error {
  color: red;
  font-size: 14px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination button {
  padding: 6px 12px;
  margin: 0 10px;
  cursor: pointer;
}